<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>truong</string>
		<key>password</key>
		<string>123123</string>
		<key>email</key>
		<string>truong@123.com</string>
		<key>imageURL</key>
		<string>file:///Users/truongnguyen/Library/Developer/CoreSimulator/Devices/78B7B1F2-1F79-4B3E-8E7C-1B749A448382/data/Containers/Data/Application/F0296D59-000C-466D-BAD7-09394199396E/Documents/yXNEHi.jpg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>ngoc</string>
		<key>password</key>
		<string>123123</string>
		<key>email</key>
		<string>ngoc@123.com</string>
		<key>imageURL</key>
		<string>file:///Users/truongnguyen/Library/Developer/CoreSimulator/Devices/78B7B1F2-1F79-4B3E-8E7C-1B749A448382/data/Containers/Data/Application/F0296D59-000C-466D-BAD7-09394199396E/Documents/yXNEHi.jpg</string>
	</dict>
</array>
</plist>
